demo/hooks
demo/node_modules/
demo/platforms/
node_modules/

*.log

src/**/*.js
src/index.android.js
src/index.ios.js
src/interfaces.js
src/LocalEventEmitter.js
src/**/*.map
src/**/*.d.ts

.DS_Store

!src/index.d.ts
!src/references.d.ts