demo/
.git/
.idea/
docs/
bin/
tests/
screenshots/
screens/
graphics/
.vs/
.idea/
.vscode/
.tscache/
.settings/
.vscode/
node_modules/
.tscache/

.gitignore
.npmignore
.DS_Store
.editorconfig
.bablerc
.eslintignore
.travis.yml
.jshintrc
*.sln
*.md
*.tmp
*.log
*.ts
*.js.map
*.tar
*.tgz
*.gz
*.zip
!*.d.ts

references.d.ts
tsconfig.json
tslint.json
karma.conf.js
typings.json
typedoc.json


.prettierrc
references.d.ts